@font-face {
  font-family: 'Mookmania';
  src: url('~roguefont/Mookmania.otf');
}

@font-face {
  font-family: 'MarkScript-Regular';
  src: url('~roguefont/languages/MarkScript-Regular.ttf');
}

@font-face {
  font-family: 'Celtes SP';
  src: url('~roguefont/languages/Celtes SP.otf');
}

@font-face {
  font-family: 'Kamelia';
  src: url('~roguefont/languages/Kamelia.ttf');
}

@font-face {
  font-family: 'Comforter Brush';
  src: url('~roguefont/languages/Comforter Brush.otf');
}

@font-face {
  font-family: 'FDMedian';
  src: url('~roguefont/languages/FDMedian.ttf');
}

@font-face {
  font-family: 'VizaviTYGRA';
  src: url('~roguefont/languages/VizaviTYGRA.ttf');
}

@font-face {
  font-family: 'Kautiva Cyrillic Black';
  src: url('~roguefont/languages/Kautiva Cyrillic Black.ttf');
}

@font-face {
  font-family: 'ALOT Gutenberg B Normal';
  src: url('~roguefont/languages/ALOT Gutenberg B Normal.ttf');
}

@font-face {
  font-family: 'Ganesha Type';
  src: url('~roguefont/languages/Ganesha Type.ttf');
}

@font-face {
  font-family: 'Deutsch Gothic';
  src: url('~roguefont/languages/Deutsch Gothic.ttf');
}

@font-face {
  font-family: 'TolkienCyr';
  src: url('~roguefont/languages/TolkienCyr.ttf');
}

@font-face {
  font-family: 'RUSNeverwinter';
  src: url('~roguefont/languages/RUSNeverwinter.ttf');
}

@font-face {
  font-family: 'Arabic Cyr (kerning fixed)';
  src: url('~roguefont/languages/Arabic Cyr (kerning fixed).ttf');
}
